{% extends 'base.html' %}
{% block title %}Faculty Dashboard{% endblock %}
{% block content %}
<h2>Welcome, {{ user.first_name|default:user.username }}!</h2>
<p>You are logged in as <strong>Faculty</strong>.</p>
<h3>My Organized Events</h3>
<a href="{% url 'event_create' %}" class="btn btn-success mb-3">Create New Event</a>
<ul class="list-group">
    {% for event in organized_events %}
        <li class="list-group-item">
            <a href="{% url 'event_detail' event.id %}">{{ event.title }}</a>
            - {{ event.start_time|date:"Y-m-d H:i" }}
        </li>
    {% empty %}
        <li class="list-group-item">You have not created any events yet.</li>
    {% endfor %}
</ul>
{% endblock %}
